.homepage {
    background: url(../imgs/shop-background.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    position: relative;
    min-height: 500px;
}

.homepage img {
    width: 650px;
    position: relative;
    top: 60px;
}

.homepage p {
    display: block;
    margin: auto;
    margin-top: 42px;
    color: var(--white-color);
    width: 700px;
}

.homepage button {
    margin-top: 20px;
    background: none;
    border: none;
}

.homepage button a {
    padding: 4px 20px;
}

.box-heading {
    text-align: center;
    margin: 76px 0 24px;
}

.box-heading h1 {
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--black-color);
}

.box-heading::after {
    content: "";
    border-bottom: 2px solid #93000f;
    display: block;
    margin-left: 0;
    text-align: center;
    margin: 26px auto 0px;
    width: 80px;
    transition: all .5s ease 0s;
}

.box-heading:hover::after {
    width: 120px;
}

/* Category */
.cate-img {
    margin-bottom: 10px;
}

.cate-img a img {
    width: 100%;
    border-radius: 4px;
}

.cate-details {
    position: relative;
    margin-bottom: 24px;
}

.cate-subtitle {
    color: #93000f;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 4px;
}

.cate-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.5px;
    transition: .2s;
}

.cate-title a:hover {
    color: #93000f;
}

.cate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #93000f;
    opacity: 0;
    transition: all 700ms ease 0s;
}

.cate-btn:hover {
    background-color: var(--black-color);
    transition: .4s;
}

.cate-btn a {
    position: relative;
    right: -1px;
    color: var(--white-color);
    font-size: 2rem;
    padding: 8px 10px;
}

.cate--hover:hover .cate-img a img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cate--hover:hover .cate-btn {
    opacity: 1;
}

/* Products */
.product-img {
    position: relative;
    margin-bottom: 10px;
    transition: .4s;
}

.product-img a img {
    width: 100%;
    border-radius: 4px;
}

/* Icon group */
.product-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    opacity: 0;
    transition: .3s;
    z-index: 99;
}

.product-img:hover a img {
    opacity: .6;
}

.product-img:hover .product-btn-group {
    opacity: 1;
}

.product-btn {
    position: relative;
    font-size: 1.4rem;
    color: var(--white-color);
    background: var(--black-color);
    padding: 8px 10px;
    margin: 0 3px;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.product-btn:hover {
    background: #93000f;
}

.product-btn[data-title]::after {
    content: attr(data-title);
    position: absolute;
    top: -90%;
    right: 50%;
    transform: translateX(50%);
    width: 100px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    background: #262626;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.product-btn[data-title]:hover::after {
    opacity: 1;
    transition: all .1s ease 0.5s;
    visibility: visible;
}

.product-details {
    margin-bottom: 24px;
}

.product-rating i {
    font-size: 1rem;
    margin-bottom: 4px;
}

.product-star--gold {
    color: #ffce3e;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black-color);
    margin-top: 2px;
}

/* Footer before */
.footer-before {
    padding: 60px 0;
    text-align: center;
    border-bottom: 1px solid #2a2a2a;
}

.service-icon {
    margin-bottom: 8px;
}

.service-icon i {
    font-size: 2.6rem;
}

.service-details {
    width: 100%;
}

.service-heading {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.8px;
}

.service-des {
    color: #888888;
    font-size: 1.2rem;
    font-weight: 400;
}

.icon--relative {
    position: relative;
}

.icon--absolute {
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translateX(50%);
    font-size: 1rem !important;
    color: var(--black-color);
}

/* Footer blocks */
.footer-blocks {
    padding: 60px 0;
}

.footer-logo a {
    color: var(--white-color);
}

.footer-desc {
    margin-top: 16px;
    font-size: 1.1rem;
    letter-spacing: 0.7px;
    color: #888888;
    margin-bottom: 24px;
}

.footer-download {
    display: flex;
    justify-content: space-between;
}

.appstore img,
.googleplay img {
    height: 34px;
}

.footer-heading {
    color: var(--white-color);
    font-size: 1.6rem;
}

.info-item {
    margin-bottom: 2px;
    color: #888888;
    cursor: pointer;
    letter-spacing: 0.7px;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.6rem;
}

.info-item a {
    position: relative;
    right: 0;
    font-size: 1.1rem;
    color: #888888;
    transition: right linear .3s;
}

.info-item a:hover {
    right: -5px;
    color: var(--white-color);
}

.email-form {
    position: relative;
}

.email-form input {
    background: transparent;
    width: 100%;
    outline: none;
    padding-left: 6px;
    height: 32px;
    color: #f6f6f6;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .4px;
    line-height: 2rem;
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #3a3a3a;
}

.emailSubmit-btn {
    position: absolute;
    top: 24px;
    right: 6px;
    font-size: 1.6rem;
    background: none;
    color: #888888;
    cursor: pointer;
    transition: .2s;
}

.emailSubmit-btn:hover {
    color: #93000f;
}

.social-contact {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.social-contact li a {
    color: #888888;
    font-size: 1.6rem;
}

.social-contact li a:hover {
    color: var(--white-color);
}